apiVersion: v1
kind: Secret
metadata:
  name: env
  namespace: helix
type: Opaque
stringData:
  SERVER_NAME: helix.upnl.org
  SECRET_KEY: secret_key
  POSTGRES_HOST: postgres
  POSTGRES_USER: helix
  POSTGRES_PASSWORD: password
  POSTGRES_DB: helix
  REDIS_HOST: redis
  RECAPTCHA_PUBLIC_KEY: public_key
  RECAPTCHA_PRIVATE_KEY: private_key
  SENTRY_DSN: https://key@sentry.io/id
  TEMP_FOLDER: /tmp/helix-temp/
