apiVersion: v1
kind: Secret
metadata:
  name: env
  namespace: homepage
type: Opaque
stringData:
  POSTGRES_HOST: postgres
  REDIS_HOST: redis
  POSTGRES_USER: upnl
  POSTGRES_PASSWORD: password
  POSTGRES_DB: upnl
  TEMP_FOLDER: /tmp/upnl-temp/
  LISTEN_ADDR: 0.0.0.0
  SERVER_NAME: upnl.org
  SENTRY_DSN: https://key@sentry.io/id